body {
    margin: 0;
    width: 768px;
    margin: 0 auto;
}

header {
    padding: 20px;
    background-color: #fff;
    text-align: center;

    img {
        width: 350px;
    }
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    span.fakeChk {
        i.fa-square {
            display: inline-block;
        }
    }
}

input[type="checkbox"]:checked + label {
    span.fakeChk {
        i.fa-square {
            display: none;
        }
    }
}

input[type="checkbox"] + label {
    span.fakeChk {
        i.fa-check-square {
            display: none;
        }
    }
}

input[type="checkbox"]:checked + label {
    span.fakeChk {
        i.fa-check-square {
            display: inline-block;
        }
    }
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    span.fakeChk {
        i.fa-circle {
            display: inline-block;
        }
    }
}

input[type="radio"]:checked + label {
    span.fakeChk {
        i.fa-circle {
            display: none;
        }
    }
}

input[type="radio"] + label {
    span.fakeChk {
        i.fa-dot-circle {
            display: none;
        }
    }
}

input[type="radio"]:checked + label {
    span.fakeChk {
        i.fa-dot-circle {
            display: inline-block;
        }
    }
}

.container {
    margin: 0 auto;
}

//index

.indexImg {
    img {
        width: 100%;
    }
}

.indexBtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 32px;
    padding: 10px;
}

//page2

$paddingRightLeft: 32px;

.questionAll {
    width: 100%;

    .questionWindow {
        margin-bottom: 10px;
    }

    .question {
        background-color: #f4f4f4;
        height: 400px;
        display: none;
        padding: $paddingRightLeft;
        position: relative;

        p {
            font-size: 22px;
            text-align: left;
            margin-bottom: 32px;
        }

        label {
            font-size: 22px;
            height: 22px;
            display: inline-block;
            padding: 6px;
        }

        label.error {
            border: 1px solid #f00;
        }

        button.next, button.last, button.go {
            position: absolute;
            bottom: 32px;
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        button.next, button.go {
            right: $paddingRightLeft;
        }

        button.last {
            left: $paddingRightLeft;
        }
    }
}

.question.appear {
    display: block;
}

.questionChange {
    ul {
        background-color: #000;
        margin: 0;
        display: flex;
        justify-content: space-between;
        padding: 0px 32px;

        li {
            display: inline-block;
            cursor: pointer;
            padding: 10px;
            color: #4d4d4d;
            font-size: 22px;
            position: relative;

            span {
                display: none;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 19px;
                height: 11px;
                background-color: #f4f4f4;
                clip-path: polygon(50% 100%, 0 0, 100% 0);
            }
        }

        li.active {
            color: #fff;

            span {
                display: block;
            }
        }
    }
}

//page3

.personalTitle {
    font-size: 32px;
    text-align: center;

    h3 {
        margin: 0;
    }
}
.personalError{
    span{
        display:inline-block;
        color:#f00;
    }
}
@media screen and (max-width: 769px) {
    body {
        width: 414px;
    }
}
